services:
  minio:
    image: chainguard/minio@sha256:cb84dfa704c648c4b14858aa288576bb1cf756a9b326112a0934db00e87d0bb8
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${MINIO_SECRET_KEY}
    command: |
      server /data 
      --address ":9000"
      --console-address ":9001"
    healthcheck:
      test: [ "CMD-SHELL", "echo > /dev/tcp/127.0.0.1/9000 && exit 0 || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

volumes:
    minio_data:
      driver: local