---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Documentation Check

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:

permissions: {}

jobs:
  filter:
    permissions:
      contents: read # needed for actions/checkout
    runs-on: ubuntu-latest
    outputs:
      plcopen-motion-control_changed: ${{ steps.filter.outputs.plcopen-motion-control }}
      audio-analyzer_changed: ${{ steps.filter.outputs.audio-analyzer }}
      dlstreamer-pipeline-server_changed: ${{ steps.filter.outputs.dlstreamer-pipeline-server }}
      pgvector_changed: ${{ steps.filter.outputs.pgvector }}
      model-download_changed: ${{ steps.filter.outputs.model-download }}
      model-registry_changed: ${{ steps.filter.outputs.model-registry }}
      vector-retriever_changed: ${{ steps.filter.outputs.vector-retriever }}
      time-series-analytics-docs_changed: ${{ steps.filter.outputs.time-series-analytics-docs }}
      chat-question-and-answer_changed: ${{ steps.filter.outputs.chat-question-and-answer }}
      chat-question-and-answer-core_changed: ${{ steps.filter.outputs.chat-question-and-answer-core }}
      document-summarization_changed: ${{ steps.filter.outputs.document-summarization }}
      video-summarization_changed: ${{ steps.filter.outputs.video-summarization }}
      visual-pipeline-platform-tool_changed: ${{ steps.filter.outputs.visual-pipeline-platform-tool }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set paths filter
        id: filter
        uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50
        with:
          filters: |
            plcopen-motion-control:
              - 'libraries/edge-control-libraries/plcopen-motion-control/docs/**'
            audio-analyzer:
              - 'microservices/audio-analyzer/docs/**'
            dlstreamer-pipeline-server:
              - 'microservices/dlstreamer-pipeline-server/docs/**'
            pgvector:
              - 'microservices/pgvector/docs/**'
            model-download:
              - 'microservices/model-download/docs/**'
            model-registry:
              - 'microservices/model-registry/docs/**'
            vector-retriever:
              - 'microservices/vector-retriever/milvus/docs/**'
            time-series-analytics-docs:
              - 'microservices/time-series-analytics/docs/**'
            chat-question-and-answer:
              - 'sample-applications/chat-question-and-answer/docs/**'
            chat-question-and-answer-core:
              - 'sample-applications/chat-question-and-answer-core/docs/**'
            document-summarization:
              - 'sample-applications/document-summarization/docs/**'
            video-summarization:
              - 'sample-applications/video-search-and-summarization/docs/**'
            visual-pipeline-platform-tool:
              - 'tools/visual-pipeline-and-platform-evaluation-tool/docs/**'

  build_plcopen-motion-control:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.plcopen-motion-control_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: libraries/edge-control-libraries/plcopen-motion-control

  build_audio-analyzer:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.audio-analyzer_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/audio-analyzer

  build_dlstreamer-pipeline-server:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.dlstreamer-pipeline-server_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/dlstreamer-pipeline-server

  build_pgvector:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.pgvector_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/pgvector

  build_model-download:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.model-download_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/model-download

  build_model-registry:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.model-registry_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/model-registry

  build_vector-retriever:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.vector-retriever_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/vector-retriever/milvus

  build_time-series-analytics-docs:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.time-series-analytics-docs_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: microservices/time-series-analytics

  build_chat-question-and-answer:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.chat-question-and-answer_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: sample-applications/chat-question-and-answer

  build_chat-question-and-answer-core:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.chat-question-and-answer-core_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: sample-applications/chat-question-and-answer-core

  build_document-summarization:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.document-summarization_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: sample-applications/document-summarization

  build_video-summarization:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.video-summarization_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: sample-applications/video-search-and-summarization

  build_visual-pipeline-platform-tool:
    permissions:
      contents: read # needed for actions/checkout
    needs: filter
    if: ${{ needs.filter.outputs.visual-pipeline-platform-tool_changed == 'true' }}
    uses: ./.github/workflows/docs-reusable-workflow.yaml
    with:
      docs_directory: tools/visual-pipeline-and-platform-evaluation-tool
